.project-section-container {
    background-color: #0d0e10;
    width: 100%;
    height: auto;
    padding: 40px 0 100px;
    color: #fff;
}

.project-heading {
    font-size: 300px;
    margin: 20px 20px;
}

.project-text-container {
    margin-left: 70px;
}

.project-text {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.donations-container {
    display: grid;
    place-items: center;
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 20px;
}
