.experience-section {
    padding: 60px 0;
    padding-top: 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.flag-img {
    width: 10%;
}

.experience-heading-container {
    transform: translateX(-7.5%);
    line-height: 250px;
    padding-top: 12vw;
}

.experience-heading-container h1 {
    font-size: 21vw;
    font-weight: 400;
    letter-spacing: 10px;
    line-height: 19.1vw;
}

.experience-text-container {
    position: absolute;
    top: 42vw;
    /* left: 53%; */
    right: 4vw;
}

.experience-text {
    /* font-size: 28px; */
    font-size: 1.5vw;
    line-height: 1.9vw;
}

