.menu-container {
    color: #fff;
    background-color: #000;
    padding: 30px;
    font-size: 32px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
}

.logo {
    height: 100%;
}

.lang-select span {
    margin-left: 9px;
}

.left-side {
    height: 60px;
}

.logo-heading {
    font-weight: 800;
    margin: 0;
}

.menu-divider {
    width: 3px;
    height: 40px;
    background-color: #fff;
}

.right-side {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.right-side-link {
    margin: 0;
    font-weight: 300;
    letter-spacing: 5px;
    cursor: pointer;
}


.right-side-link:hover {
    color: #efc61e;
}

.disabled {
    color: #3a3a3a;
    position: relative;
    cursor: not-allowed;
}

.disabled p {
    margin: 0;
    letter-spacing: 5px;
}

.disabled .coming-soon{
    letter-spacing: initial;
}

.coming-soon {
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 14px;
}
