.menu-container {
    color: #efc61e;
    background-color: #000;
    padding: 30px;
    font-size: 32px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: row;
}

.logo-heading {
    font-weight: 800;
    margin: 0;
}

.right-side {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.right-side p {
    margin: 0;
    font-weight: 300;
}
