.team-section-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* min-height: 100vh; */
}

.team-header {
    font-size: 20.1vw;
    position: absolute;
    top: 3vw;
    left: 7.5%;
    z-index: 50;
    font-weight: 400;
}

.outer-team-img-container {
    margin-top: 10vw;
    position: relative;
    /* top: 20%; */
    /* left: 45%; */
    width: 45%;
    margin-right: 5vw;
    margin-left: auto;
    cursor: pointer;
}

.team-img-container {
    position: relative;
    width: 100%;
}

.blue {
    position: absolute;
    left: 11%;
    bottom: 90%;
    background-color: #1e5ea3;
    width: 90%;
    height: 11.5%;
    z-index: 0;
    transition: width 0.34s ease, height 0.34s ease;
}

.team-img-container img {
    width: 100%;
    z-index: 20;
    position: relative;;
}

.yellow {
    position: absolute;
    top: 11%;
    right: 10.8%;
    background-color: #fed500;
    width: 90%;
    height: 90%;
    transition: width 0.34s ease, height 0.34s ease;
    z-index: 0;
}

.outer-team-img-container:hover .yellow {
    width: 92%;
    height: 92%;
}

.outer-team-img-container:hover .blue {
    width: 92%;
    height: 13.5%;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 7.5%;
    width: 55%;
}

.text-description-group {
    position: relative;
    width: 100%;
}

.team-text-container {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 21;
    padding: 20px 40px;
}

.team-text {
    color: #ededed;
}

.closed-modal {
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;
}

.closed {
    display: none;
}

.cross-container {
    position: absolute;
    z-index: 22;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

.relative {
    position: relative;
}

.cross-y {
    background-color: #ededed;
    width: 3px;
    height: 100px;
}

.cross-x {
    position: absolute;
    background-color: #ededed;
    width: 100px;
    height: 3px;
    top: 50%;
    transform: translateX(-50%);
}

@keyframes cross-open-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }
}

@keyframes cross-close-y {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes cross-open-x {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(-100%);

    }
}

@keyframes cross-close-x {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-50%);
    }
}

