.team-section-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.team-header {
    font-size: 300px;
    position: absolute;
    top: 10%;
    left: 7.5%;
    z-index: 50;
    font-weight: 400;
}

.outer-team-img-container {
    position: absolute;
    top: 20%;
    left: 45%;
    width: 45%;
}

.team-img-container {
    position: relative;
    width: 100%;
}

.blue {
    position: absolute;
    top: -5%;
    left: 15%;
    background-color: #1e5ea3;
    width: 90%;
    height: 7.5%;
    z-index: 0;
}

.team-img-container img {
    width: 100%;
    z-index: 20;
    position: relative;;
}

.yellow {
    position: absolute;
    top: 15%;
    left: -5%;
    background-color: #efc61e;
    width: 100%;
    height: 90%;
    z-index: 0;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 7.5%;
    width: 55%;
}

.text-description-group {
    position: relative;
    width: 100%;
}

.team-text-container {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 21;
    padding: 20px 40px;
}

.team-text {
    color: #fff;
}

.closed {
    display: none;
}

.cross-container {
    position: absolute;
    z-index: 22;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

.relative {
    position: relative;
}

.cross-y {
    background-color: #fff;
    width: 10px;
    height: 100px;
}

.cross-x {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 10px;
    top: 47.5%;
    transform: translateX(-45%);
}

@keyframes cross-open-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }
}

@keyframes cross-close-y {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes cross-open-x {
    from {
        transform: translateX(-45%);
    }
    to {
        transform: translateX(-90%);

    }
}

@keyframes cross-close-x {
    from {
        transform: translateX(-90%);
    }
    to {
        transform: translateX(-45%);
    }
}

